@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


html {
    scroll-behavior: smooth;
  }
  
.row {
    width: 100%;
    margin: 0 auto;
    width: 100%; 
    max-width: 1280px;   
    margin: 0 auto;
}

section {
    max-width: 1280px;
    margin: 0 auto;
}

li {
    list-style-type: none;
    padding-left: 24px;
    
}

h1 {
    font-size: 48px;
    text-align: left;
}

h2 {
    font-size: 24px;
}

p {
    color: rgba(36,62,99,var(--tw-text-opacity));
}

.text__blue {
    color: #5553ec;
}

body {
    padding: 2rem;
}

/*

NAV 

*/

body {
    max-width: 100vw;
    overflow-x: hidden;
}


#landing{
    min-height: 100vh;
    padding: 32px;
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
    
}

.nav__container{
    width: 100%;
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo--img{
    width: 65px;
    padding-right: 12px;

}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo__title {
    font-weight: bold;

}

.nav__link {
    font-size: 14px;
    text-decoration: none;
    padding-left: 12px;
    font-weight: bold;
    
}


.nav__links {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.btn {
    background-color: #5553ec;
    color: white;
    padding: 12px 40px;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    max-width: 200px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn:hover {
    opacity: 0.85;
}

.nav__btn {
    font-size: 14px
}

.nav__link--login {
    font-size: 14px;
    margin: 0 24px 0 48px;
    text-decoration: none;
    padding: 0 0 4px;
    font-weight: bold;
}

/*

LANDING 

*/

header {
    padding: 96px 0;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}
.header__container {
    display: flex;
    justify-content: center;
}

.header__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
}

.header__description--title{
    text-align: left;
    font-size: 48px;


}

.header__description--para{
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    color: rgba(124,139,161,1);

}

.header__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;

}

.header__img--pic {
    object-fit: contain;
    width: 100%;
    height: 100%;

}

@media (min-width: 1280px) {

    .header__img--pic {
        max-width: 48rem;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.header__btn {
    text-align: center;
    display: flex;
    position: relative;
    margin: 28px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__input {
    background-color: aliceblue;
    padding: 12px 40px;
    font-size: 20px;
    border-radius: 999px;
    width: 100%;
    text-align: center;
    border: #5553ec;
    border-width: 1px;
   
}

.header__btn--pos {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header__footer {
    opacity: 0.5;
    margin-top: 5rem;
    
}

.header__footer--h3 {
    opacity: 0.7;
    ;
}

.adv__img {
    width: 400px;
    margin-top: 18px;
}


/*

FEATURES 

*/

#features {
    display: flex;
    flex-flow: column wrap;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 96px 0;
}

.features__text {
    text-align: center;
}

.features__text--subtitle {
    color: #5553ec;
    font-size: 16px;
    margin-bottom: 16px;
    letter-spacing: 0.1em;
}

.features__text--title {
    margin: 0;
    letter-spacing: 0.03em;
    font-weight: 700;
}

.features__text--para {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,1);
    max-width: 36rem;
    font-size: 18px;
}

i {
    color: #5553ec;
    
}


.highlight__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.highlight {
    padding: 24px 24px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.highlight__img {
    border: 0 solid #e5e7eb;
    border-width: 1px;
    color: #5553ec;
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    font-size: 24px;
    margin-bottom: 24px;
    margin-right: 20px;
    
}

.highlight__subtitle {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: left;
    
    
}

.highlight__para {
    text-align: left;
    max-width: 300px;
    line-height: 2;
    color: rgba(124,139,161,1);

    

}


/* QUALITY */

.quality__work {
    padding: 96px 0;
    display: flex;
}

.quality__text {
    width: 50%;
    padding-right: 48px;
}

.quality__img {
    width: 50%;
    border: 0 solid #e5e7eb;
    border-width: 1px;
 
    
}

.quality__text--subtitle {
    font-size: 16px;
    text-align: left;
    color: #5553ec;
    letter-spacing: 0.1em;

}

.quality__text--title {
    text-align: left;
    margin-top: 16px;

}

.quality__text--para {
    line-height: 1.625;
    margin-top: 18px;
    color: rgba(124,139,161,1);

}

.quality__btn {
    margin-top: 32px;

}


/* STEPS */

.steps__work {
    padding: 96px 0;
    display: flex;
}

.steps__text {
    width: 50%;
    text-align: right;
    padding: 32px 0 0 24px;
}

.steps__img {
    width: 50%;
    border: 0 solid #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 36px;
}

.steps__text--subtitle {
    font-size: 16px;
    text-align: left;
    color: #5553ec;
    letter-spacing: 0.1em;

}

.steps__text--title {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 24px;
}



.steps__lists {
    display: flex;
    margin-top: 32px;
    padding: 0;
}

h4 {
    text-align: left;
}

.step__list--para {
    text-align: left;
    line-height: 2em;
    max-width: 20em;
    margin-top: 0.75em;
    color: rgba(124,139,161,1);
}
.step__list--num {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgba(203,213,224,var(--tw-text-opacity));
}

.step__list--text {
    margin: 0 0 0 24px;
}


/* work */

.work__work {
    padding: 96px 0;
    display: flex;
}

.work__text {
    width: 50%;
    padding-right: 48px;
}

.work__img {
    width: 50%;
}

.work__text--subtitle {
    font-size: 16px;
    text-align: left;
    color: #5553ec;
    letter-spacing: 0.1em;

}

.work__text--title {
    text-align: left;
    margin-top: 16px;

}

.work__chara--para {
    line-height: 1.625;
    margin-top: 18px;
    margin-bottom: 24px;
    color: rgba(124,139,161,1);
    max-width: 250px;

}

.work__text--para {
    line-height: 1.625;
    margin-top: 18px;
    margin-bottom: 24px;
    color: rgba(124,139,161,1);

}

.work__btn {
    margin-top: 32px;

}

.work__chara {
    display: flex;
}

.work__chara--title {
    display: flex;	
}

.highlight__work--aff {
    border: 0 solid #e5e7eb;
    background-color: rgba(154,230,180,1);
    border-width: 1px;
    color: black;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    font-size: 20px;
    padding: 8px;
    
}
.highlight__work--prof {
    border: 0 solid #e5e7eb;
    background-color: rgba(254,178,178,1);
    border-width: 1px;
    color: black;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    font-size: 20px;
    padding: 8px;
    
}

.i__aff {
    color: rgba(39,103,73,1);
}

.i__prof {
    color: rgba(155,44,44,1);
    ;
}

.work__chara--sub   {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.work_chara--aff {
    width: 50%;
}

.work_chara--prof {
    width: 50%;
}


/* \

PRICING 

*/


.pricing__text--subtitle {
    font-size: 16px;
    text-align: center;
    color: #5553ec;
    letter-spacing: 0.1em;

}

.pricing__text--title {
    text-align: center;
    margin-top: 16px;

}

.pricing__text--para {
    line-height: 1.625;
    margin: 16px auto 0;
    color: rgba(124,139,161,1);
    text-align: center;
    max-width: 500px;
   

}


/*

PLANS 

*/

#pricing {
    padding: 96px 0;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    
}

.plan__personal {
    margin: 64px 32px 0 0;
    padding: 8px 32px 0;
    border: 0 solid #e5e7eb;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    position: relative;
    
    
}
.plan__business {
    margin: 64px 32px 0 0;
    padding: 8px 32px 0;
    border: 0 solid #e5e7eb;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    position: relative;
    
}
.plan__enterprice {
    margin: 64px 32px 0 0;
    padding: 8px 32px 0;
    border: 0 solid #e5e7eb;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    position: relative;
    
}

.plan__header {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__title {
    font-size: 20px;
    font-weight: bold;
}

.plan__price {
    font-size: 48px;
    font-weight: bold;
    margin: 8px 0;
}

.plan__month {
    font-size: 16px;
    color: rgba(160,174,192,1);
    letter-spacing: 0.1em;
}

.plan__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    margin: 0 -32px;
    border-top-width: 2px;
    border-bottom-width: 2px;

 }

 .plan__info--main {
    font-size: 20px;
    font-weight: bold;
 }

 .plan__info--feature {
    margin: 20px 0 0;
    --tw-text-opacity: 1;
    color: rgba(113,128,150,var(--tw-text-opacity));
 }

 .plan__btn {
    padding: 32px 64px;
    text-align: center;
 }

 .btn__personal {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    --tw-text-opacity: 1;
    
}


.btn__enterprise {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.btn__business {
    background: linear-gradient(115deg, rgb(156, 101, 245) 0%, rgb(178, 196, 254) 100%);
}


.plan__color--personal {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}


.plan__color--enterprice {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);   
}
.plan__color--business {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(156, 101, 245) 0%, rgb(178, 196, 254) 100%);
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

/*

CONTACT

*/


.contact__container {
    display: flex;
    justify-content: space-around;
    margin: 96px 0;
    padding: 96px 0;
    --tw-bg-opacity: 1;
    border-radius: 12px;
    background: linear-gradient(115deg, rgb(45, 62, 99) 0%, rgb(36, 86, 116) 100%);
}

.contact__title {
    max-width: 35%;
    color: white;
}

.contact__btns {
    margin-right: 48px;
}

.contact__btn--start {
    font-size: 16px;
    padding: 20px 40px;
    margin-right: 32px;
    --tw-bg-opacity: 1;
    background-color: rgba(245,101,101,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
}

.contact__btn--us {
    padding: 20px 40px;
    font-size: 16px;
    margin-right: 32px;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
}

.contact__title--size {
    font-size: 30px;

}

/*

FOOTER

*/


.links__container  {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 96px 0;
    max-width: 1280px;
    margin: 0 auto;
    --tw-bg-opacity: 1;
    background: linear-gradient(115deg, rgb(45, 62, 99) 0%, rgb(36, 86, 116) 100%);

}

.container__link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;

}

.link__wrapper {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link__title {
    padding-bottom: 24px;
    padding-left: 24px;
    text-align: left;
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
}

.links {
    text-align: left;
    line-height: 2;
    
}
 

.link {
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    
}

.footer__line {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(116,44,255,var(--tw-border-opacity));
    width: 100%;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
  

.logo__title--footer {
    color: white;
    font-size: 20px;
    margin-left: 8px;

}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;

}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo--img {
    width: 32px;

}

.footer__copyright {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    display: flex;
    align-items: center;
    color: rgba(203,213,224,var(--tw-text-opacity));
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#i_link{ 
    transition: all 300ms ease;

}

#i_link:hover  {
    opacity: 0.85;
    color: rgb(2, 2, 3);
}

.footer__img {
    border: 0 solid #e5e7eb;
    border-width: 1px;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    font-size: 16px;
    margin-right: 16px;

}